.bor{border:6px gainsboro solid; margin:10% 22% 0% 23%; height:450px}
.img{width:150px; height:150px; border-radius:50%; margin-top:20%}
.list{margin:15px 1px 1px 1px; color: white; line-height: 34px}
.head{color:white; margin-top:15%}
.hr{border:1px aqua dotted; margin-top:25%}